@charset "utf-8";

/*** フェードインアニメーション ***/
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 背景画像の指定　各ページ　ロゴ・ページ名・罫線の指定 */
body {
    animation: fadeIn 0.5s forwards;
    background-image: url("../img/general/inside-pages-background-img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans JP';
    font-style: normal;
    line-height: 1.7;
}

/* --start--headerの指定 */

/* header 色指定 */
header {
    display: flex;
    height: 60px;
    background: linear-gradient(89.85deg, rgba(40, 53, 147, 0.9) -3.64%, rgba(40, 53, 147, 0.7) 40.19%, rgba(233, 30, 99, 0.6) 101.22%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
}

/* Pairleary フォントと位置指定 */
.header-app-logo {
    position: absolute;
    width: 155px;
    height: 55px;
    margin-left: 2%;
    font-family: 'Oleo Script Swash Caps';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}

/* リスト 右寄せ */
.header-list {
    margin-left: auto;
}

/* リスト 横並びとフォント指定 */
.header-list ul {
    position: relative;
    display: flex;
    margin: 0px 40px;
    gap: 40px;
    list-style: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}

/* リスト aタグ 文字の装飾 */
.header-list a {
    display: block;
    width: 120px;
    height: 60px;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

/* リスト 指定 */
.header-list li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 60px;
    padding: 0 auto;
}

/* ログアウトボタンの指定 */
#logout-btn {
    cursor: pointer;
}

/* headerの表示中のメニュー名をhover指定 */
.header-list li:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    content: "";
    transition: transform 0.3s ease-in-out;
    transform: scale(0, 1);
    transform-origin: left top;
    background: #FFFFFF;
}
.header-list li:hover:after, ul li.current:after {
    transform: scale(1, 1);
}
/* --end--headerの指定 */


/* --start--ログイン後の各ページ共通部分の指定 */
/* 背景画像の指定　各ページ　ロゴ・ページ名・罫線の指定はbody内に記述 */
/* 背景の透明白ボックス */
.background-white-box {
    position: absolute;
    width: 1000px;
    height: calc(100vh - 60px);
    top: 60px;
    left: calc(50% - 500px);
    background: rgba(255, 255, 255, 0.3);
    border-width: 0px 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset -10px -10px 30px rgba(255, 255, 255, 0.6), inset 10px 10px 30px rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3.5px);
    z-index: 0;
}

/* ページタイトル全体の位置と罫線*/
.page-title {
    position: relative;
    display: flex;
    align-items: center;
    width: 950px;
    height: 76px;
    top: 0px;
    left: calc(50% - 475px);
    border: none;
    border-bottom: 1px solid #000000;
}

/* ページタイトル アイコン */
.page-title img {
    position: relative;
    width: 44px;
    height: 39.95px;
    margin: 5px;
}

/* ページタイトル ページ名 */
.page-title__page-title-box--page-name {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;    
    color: #283593;
}

/* ページタイトル サブタイトル名 */
.page-title__page-title-box--page-subname {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
}

/* チュートリアル指定 */
.tutorial {
    position: absolute;
    width: 170px;
    height: 55px;
    right: 0;
    bottom: 0;
    margin: 0 20px 20px 0;
}
.tutorial a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}
.tutorial img {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.tutorial__title {
    position: relative;
    display: block;
}
.tutorial__title--main {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}
.tutorial__title--sub {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}