/* Loginページ CSS */

/* base.htmlにあるheaderを隠す */
header {
    display: none;
}

/* base.htmlにあるtutorialを隠す */
.tutorial {
    display: none;
}

/* 背景画像の指定ロゴ・フォームのセンター指定 */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/LoginSignin/login-signin-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* PairLearyロゴの指定 */
.app-logo {
    position: relative;
    top: -10%;
    font-family: 'Oleo Script Swash Caps';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 166px;
    color: #000000;
}

/* 「夢は～」の文字指定 */
.subtitle {
    position: relative;
    top: -10%;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
}

/* 入力フォーム全体の指定 */
.formbox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 420px;
    /* border: #000000 solid; */
}

/* Loginの文字指定 */
.formbox h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

/* テキスト入力フォームの指定 */
.inputBox {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 60px;
    margin-top: 40px;
}

/* テキスト入力フォームのタイトル指定 */
.inputBox__title {
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

/* テキスト入力フォームの入力ボックス指定 */
.inputBox__inputform {
    position: relative;
    height: 35px;
    border: none;
    border-bottom: #000000 solid;
    background-color:transparent;
    outline: none;

    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #676767;
}

/* ログインボタンの指定 */
.registration-button {
    position: relative;
    width: 200px;
    height: 40px;
    margin-top: 60px;
    left: calc(50% - 100px);
    background: #E91E63;
    border-radius: 10px;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s;
}
.registration-button:hover {
    background: #AD1457;
}

/* Do not have an account?の横並び指定 */
.change-registration {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* Do not have an account?の文字指定 */
.change-registration p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

/* Signinボタンの指定 */
.change-registration__button {
    position: relative;
    width: 85px;
    height: 27px;
    top: -4px;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #BFBFBF;
    border-radius: 10px;
    transition: all 0.3s;
}
.change-registration__button:hover {
    background: rgba(222, 222, 222, 0.8);
    border: 2px solid #565656;
    border-radius: 10px;
}

/* Signinボタンのリンクエリアをボタンサイズにする */
.change-registration__button a {
    display: block;
    text-decoration: none;
}

/* chormeの補完機能(mailドレス自動入力)で背景色を変えないようにする */
input:-webkit-autofill {
    transition: background-color 10000s ease-in-out 0s;
}
