/*  チュートリアルモーダルのCSS指定ファイル */

/* モーダル以外の画面を暗くする指定 */
.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

/* モーダル大枠の指定 */
.modal__content-tutorial {
    position: relative;
    width: 585px;
    height: 680px;
    left: calc(50% - 290px);
    top: calc(50% - 300px);
    border: 1px solid #FFFFFF;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25), 1px 3px 8px 4px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    animation-name: modalopen;
    animation-duration: 1s;
}

/* モーダルを開く際のアニメーション */
@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

/* モーダル内の「X」ボタンの指定 */
.modalClose {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 5px;
    left: 530px;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
    font-size: 32px;
    cursor: pointer;
}
.modalClose:hover {
    cursor: pointer;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}


.img {
    position: absolute;
    left: 7%;
    top: 6.5%;
}

#modal__content-tutorial-list {
    position: relative;
    width: 660px;
    height: 580px;
    left: calc(50% - 330px);
    top: calc(50% - 300px);
    border: 1px solid #FFFFFF;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25), 1px 3px 8px 4px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    animation-name: modalopen;
    animation-duration: 1s;
}

#img-list {
    position: absolute;
    left: 4.5%;
    top: 8%;
}

#modalClose-list {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 5px;
    left: 600px;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
    font-size: 32px;
    cursor: pointer;
}

#modalClose-list:hover {
    cursor: pointer;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}
