/* MyPage ユーザー情報ページ mypage.htmlのCSS */


.edit-user-detail {
    position: relative;
    display: flex;
    width: 840px;
    height: 230px;
    top: 20px;
    left: calc(50% - 420px);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25), 1px 3px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.edit-user-detail__icon {
    position: relative;
    text-align: center;
    width: 160px;
    height: 200px;
    top: calc(50% - 36px);
}

.edit-user-detail__icon img {
    width: 40px;
    height: 40px;
}

.edit-user-detail__border {
    position: relative;
    width: 1px;
    height: 190px;
    top: 20px;
    background: #000000;
}

.inputBox {
    position: relative;
    display: flex;
    align-items: center;
    width: 600px;
    height: 50px;
    left: 40px;
    top: 8px;

    border-bottom: 1px solid #676767;

    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #676767;
}

.inputBox__textbox {
    position: absolute;
    width: 350px;
    height: 35px;
    left: 150px;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    border: none;
    background: transparent;
}

.edit-button {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    margin-left: auto;
    padding-right: 40px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.edit-button img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    transition: all 0.3s;
}
.edit-button:hover img:nth-of-type(2){
    opacity: 0.0;
}

.booking-box {
    position: relative;
    width: 840px;
    height: 500px;
    top: 40px;
    left: calc(50% - 420px);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25), 1px 3px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}