<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- GoogleFontsインポート/フォント名：Oleo Script Swash Caps/Noto Sans Japanese -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap" rel="stylesheet">

        <!-- 共通のCSSファイルインポート ★CSSファイルのリンク先は実装時に要修正-->


        {% block title %}{% endblock %}
    </head>

    <body>
        {% block body %}HelloWorld{% endblock %}
        {% block script %}{% endblock %}
    </body>
</html>