{% extends 'base.html' %}
<!-- CSSファイルインポート ★CSSファイルのリンク先は実装時に要修正-->
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_order.css' %}">
{% endblock %}

{% block title %}
    <title>Create-order</title>
{% endblock %}

{% block body %}
<body>
    <!--start--背景の白ボックスとページタイトル ※共通CSS-base.css -->
    <div class="background-white-box">
        <div class="page-title">
            <img src="{% static 'img/create_order/create-order-icon.svg' %}" alt="">
            <div class="page-title-box">
                <p class="page-title__page-title-box--page-name">Create Matching</p>
                <p class="page-title__page-title-box--page-subname">マッチングを新しく予約する</p>
            </div>
        </div>
    <!--end--背景の白ボックスとページタイトル ※共通CSS-->
    <!--start--希望条件入力フォーム -->
        <div class="order-formbox">
            <h2>希望条件を入力してください</h2>
            <form method="POST">{% csrf_token %}
                <h3>マッチング日</h3> <!-- マッチング日フォーム -->
                <input type="date" placeholder="" class="order-date "name="date" required=""> <!-- commentは変更不可 -->
                <h3>マッチング時間</h3> <!-- マッチングの時間帯 -->
                <div class="select">
                    <div class="select__button">
                        <input type="radio" id="morning" class="radio-button" name="time" value="午前">
                        <label for="morning">午前</label>
                    </div>
                    <div class="select__button">
                        <input type="radio" id="afternoon" class="radio-button" name="time" value="午後">
                        <label for="afternoon">午後</label>
                    </div>
                    <div class="select__button">
                        <input type="radio" id="evening" class="radio-button" name="time" value="夜">
                        <label for="evening">夜</label>
                    </div>
                </div>
                <h3>相手を探す目的</h3> <!-- 相手を探す目的 -->
                <div class="select">
                    <div class="select__button">
                        <input type="radio" id="communication" class="radio-button" name="purpose" value="コミュニケーション">
                        <label for="communication">コミュニケーション</label>
                    </div>
                    <div class="select__button">
                        <input type="radio" id="develop" class="radio-button" name="purpose" value="開発">
                        <label for="develop">開発</label>
                    </div>
                </div>
                <h3>希望する相手の性別</h3> <!-- 希望する相手の性別 -->
                <div class="select">
                    <div class="select__button">
                        <input type="radio" id="man" class="radio-button" name="gender" value="男性">
                        <label for="man">男性</label>
                    </div>
                    <div class="select__button">
                        <input type="radio" id="woman" class="radio-button" name="gender" value="女性">
                        <label for="woman">女性</label>
                    </div>
                    <div class="select__button">
                        <input type="radio" id="both" class="radio-button" name="gender" value="どちらでもOK">
                        <label for="both">どちらでもOK</label>
                    </div>
                </div>
                <h3>コメント</h3>
                <div class="comment_class">
                    <input type="text" name="comment" value=""> <!-- commentは変更不可 -->
                </div>
                <!-- 予約キャンセルボタン（マッチング検索画面に遷移） -->
                <button class="order-formbox__cancelbtn"><a href="{% url 'search_matching' %}">キャンセル</a></button>
                <!-- 申し込みボタン -->
                <input type="submit" name="" value="申し込み >">
            </form>
        </div>
        <!--end--希望条件入力フォーム -->
    </div>
</body>
{% endblock %}
