{% extends 'base.html' %}
<!-- CSSファイルインポート ★CSSファイルのリンク先は実装時に要修正-->
{% block head %}
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'css/#' %}"> -->
{% endblock %}

{% block title %}
    <title>Create-order</title>
{% endblock %}

{% block body %}
<body>
    <!--start--背景の白ボックスとページタイトル ※共通CSS-base.css -->
    <div class="background-white-box"></div>
        <div class="page-title">
            <img src="#" alt="">
            <div class="page-title-box">
                <p class="page-title__page-title-box--page-name">Create Matching</p>
                <p class="page-title__page-title-box--page-subname">マッチングを新しく予約する</p>
            </div>
        </div>
    <!--end--背景の白ボックスとページタイトル ※共通CSS-->
    <!--start--希望条件入力フォーム -->
    <div class="order-formbox">
        <h2>希望条件を入力してください</h2>
        <form method="POST">{% csrf_token %}
            <div class="order-date"> <!-- マッチング日フォーム -->
                <label>マッチング日</label>
                <input type="date" placeholder="西暦年/月/日" name="date" required=""> <!-- commentは変更不可 -->
            </div>
            <div class="order-time"> <!-- マッチングの時間帯 -->
                <label>マッチング時間</label>
                <input type="radio" name="time" value="morning">午前
                <input type="radio" name="time" value="afernoon">午後
                <input type="radio" name="time" value="evening">夜
            </div>
            <div class="order-purpose"> <!-- 相手を探す目的 -->
                <label>相手を探す目的</label>
                <input type="radio" name="purpose" value="communication">コミュニケーション
                <input type="radio" name="purpose" value="develop">開発
            </div>
            <div class="order-gender"> <!-- 希望する相手の性別 -->
                <label>希望する相手の性別</label>
                <input type="radio" name="gender" value="m">男性
                <input type="radio" name="gender" value="f">女性
                <input type="radio" name="gender" value="-">どちらでもOK
            </div>
            <div class="comment_class">
                <label>コメント</label>
                <input type="text" name="comment" value=""> <!-- commentは変更不可 -->
            </div>
            <!-- 予約キャンセルボタン（マッチング検索画面に遷移） -->
            <button class="order-formbox__cancelbtn"><a href="{% url 'search_matching' %}">キャンセル</a></button>
            <!-- 申し込みボタン -->
            <input type="submit" name="" value="申し込み >">
        </form>
    </div>
    <!--end--希望条件入力フォーム -->
</body>
{% endblock %}
