{% extends 'base.html' %}
<!-- CSSファイルインポート-->
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block body %}
<body>
    {{ context }}
    <div class="background-img"> <!--背景画像 左右の六角形の画像群2点 ※背景画像はCSSで挿入-->
        <div class="background-img__left">
            <img src="{% static 'img/LoginSignin/Login-Backgroundpic_left.png' %}" alt=""> <!--左側の画像-->
        </div>
        <div class="background-img__right">
            <img src="{% static 'img/LoginSignin/Login-Backgroundpic_right.png' %}" alt=""> <!--右側の画像-->
        </div>
    </div>
    <div class="white-box"></div>
    <div class="app-logo">PairLeary</div>
    <div class="subtitle">夢は、目標に向かって毎日歩みを進めた者だけが叶えられる</div>

    <div class="formbox">
        <h2>Log in</h2>
        <form class="form-signin" method="POST">{% csrf_token %}
            <div class="inputBox"> <!-- ユーザーネームフォーム -->
                <label for="inputusername" class="inputBox__title">Username</label>
                <input type="text" id="username" class="inputBox__inputform" placeholder="slack名" name="username" required autofocus>
            </div>
            <div class="inputBox"> <!-- パスワードフォーム -->
                <label for="inputPassword" class="inputBox__title">Password</label>
                <input type="password" id="inputPassword" class="inputBox__inputform" placeholder="パスワード" name="password" required>
            </div>
            <!-- ログインボタン -->
            <button class="registration-button" type="submit">Login</button>
            <!--サインインへの遷移部分-->
            <div class="change-registration">
                <p>Do not have an account? →</p>
                <button class="change-registration__button"><a href="{% url 'signup' %}">Sign up</a></button>
            </div>
        </form>
    </div>
</body>
{% endblock %}