{% extends 'base.html' %}
<!-- CSSファイルインポート ★CSSファイルのリンク先は実装時に要修正-->
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <link rel="stylesheet" href="{% static 'css/search_result_list.css' %}">
{% endblock %}

{% block title %}
    <title>MyPage</title>
{% endblock %}

{% block body %}
<body>
    <!-- {% if request.user.is_authenticated %} -->
    <!--start--背景の白ボックスとページタイトル ※共通CSS-base.css -->
    <div class="background-white-box">
        <div class="page-title">
            <img src="{% static 'img/mypage/mypage-user-icon.svg' %}" alt="mypage-icon">
            <div class="page-title-box">
                <p class="page-title__page-title-box--page-name">My Page</p>
                <p class="page-title__page-title-box--page-subname">ユーザー情報</p>
            </div>
        </div> 
        <!--end--背景の白ボックスとページタイトル ※共通CSS-->
        <!--start--編集 編集 mail パスワード-->

        <div class="edit-user-detail">
            <!-- ユーザーネームフォーム -->
            <div class="edit-user-detail__icon">
                <img src="{% static 'img/mypage/user-icon.svg' %}" alt="mypage-icon">
                <p>登録情報</p>
            </div>
            <div class="edit-user-detail__border"></div>
            <form>
                <div class="inputBox">
                    <label>ユーザー名</label>
                    <input type="text" class="inputBox__textbox" name="username" required="" value="{{ user.username }}" readonly>
                    <!--編集ボタン ※共通CSS-->
                    <!-- <button class="edit-button"> -->
                    <button class="modalOpen" type="button" data-modal="editUserName">
                        <img src="{% static 'img/myPage/mypage-edit-btn+.svg' %}">
                        <img src="{% static 'img/myPage/mypage-edit-btn-hover.svg' %}" class="edit-button__hover">
                </div>
                <!-- メールアドレスフォーム -->
                <div class="inputBox">
                    <label>メールアドレス</label>
                    <input type="email" class="inputBox__textbox" name="email" required="" value="{{ user.email }}" readonly>
                    <button class="modalOpen" type="button" data-modal="editEmail"><!--編集ボタン ※共通CSS-->
                        <img src="{% static 'img/myPage/mypage-edit-btn+.svg' %}">
                        <img src="{% static 'img/myPage/mypage-edit-btn-hover.svg' %}" class="edit-button__hover">
                    </button>
                </div>
                <!-- パスワードフォーム -->
                <div class="inputBox">
                    <label>パスワード</label>
                    <input type="password" class="inputBox__textbox" name="password" required="" value="{{ user.password }}" readonly>
                    <button class="modalOpen" type="button" data-modal="editPassword"><!--編集ボタン ※共通CSS-->
                        <img src="{% static 'img/myPage/mypage-edit-btn+.svg' %}">
                        <img src="{% static 'img/myPage/mypage-edit-btn-hover.svg' %}" class="edit-button__hover">
                    </button>
                </div>
                <!-- 性別フォーム -->
                <div class="inputBox">
                    <label>性別</label>
                    <input type="text" class="inputBox__textbox" name="gender" required="" value="{{ user.gender_type }}" readonly>
                    <button class="modalOpen" type="button" data-modal="editGender"><!--編集ボタン ※共通CSS-->
                        <img src="{% static 'img/myPage/mypage-edit-btn+.svg' %}">
                        <img src="{% static 'img/myPage/mypage-edit-btn-hover.svg' %}" class="edit-button__hover">
                    </button>
                </div>
            </form>
        </div>
        <!--end--編集 mail パスワード-->

        <!--start--予約状況 一覧-->       
        <div class="booking-box">
            <div class="booking-box__left">
                <img src="{% static 'img/mypage/reservation-icon.svg' %}" alt="reservation-icon">
                <p>予約状況</p>
            </div>
        </div>
        <div class="search-mypage">
            {% for order in order_data %}
            <div class="search__result">
                <div class="search__result--box-left-up">
                    <p class="search__result--year">{{ order.order_date|date:"Y年" }}</p>
                    <p class="search__result--month-day">{{ order.order_date|date:"n月j日" }}</p>
                    <p class="search__result--time">{{order.order_time_range_type}}</p>
                </div>
                <div class="search__result--box-left-bottom">
                    <p id="add-class-name" class="search__result--purpose">{{ order.category }}</p>
                    <p id="add-class-name" class="search__result--gender">{{ order.hope_gender_type }}希望</p>
                </div>
                <div class="search__result--box-right-up">
                    <p class="search__result--user-name">{{ user.username }}<span>さん</span></p>
                    <p class="search__result--user-gender">{{ order.user_id.gender_type }}</p>
                </div>
                <div class="search__result--box-right-bottom">
                    <p class="search__result--comment">{{ order.comment }}</p>
                </div>
                {%if order.matched_user_id == none%}
                <div class="matching-status">
                    <p class="matching-status-none">マッチング<br>待ち</p>
                </div>
                <button class="modalOpen" type="button" data-modal="modalDelete">
                    <!--編集ボタン ※共通CSS-->
                    <img src="{% static 'img/myPage/mypage-edit-btn+.svg' %}">
                    <img src="{% static 'img/myPage/mypage-edit-btn-hover.svg' %}" class="edit-button__hover">
                </button>
                {% else %}
                <div class="matching-status">
                    <p class="matching-status-on"><span>{{order.matched_user_id}}<br>さんと</span><br>マッチング中</p>
                </div>
                {% endif %}
            </div>
            {% empty %}     
            <p class="comment">まだ予約はありません。</p>
            {% endfor %}
        </div>    
        <!--end--予約状況 一覧-->
    </div>
    {% endif %}

    {% include './mypage-modal.html' %}

    {% load static %}
        <script src="{% static 'js/modal.js' %}" type="text/javascript"></script>
</body>
{% endblock %}