<!--start-- modal-1 UserName-->
    <form method="POST">{% csrf_token %}
        <div id="editUserName" class="modal">
            <div class="modal__content">
                <h2 class="modal__content--title">Edit your name</h2>
                <p class="modal__content--subtitle">ユーザー名の変更</p>
                <p class="modalClose">×</p>
                <div class="modal__content--base">
                    <p>新しいユーザー名を入力してください</p>
                    <input type="text" id="inputForm" class="" name="username" required autofocus>
                    <div class="modal__content--button">
                        <div class="cancelButton">キャンセル</div>
                        <button class="OK-button">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--end-- modal-1 -->
    <!--start-- modal-2 Mail-Address-->
    <form method="POST">{% csrf_token %}
        <div id="editEmail" class="modal">
            <div class="modal__content">
                <h2 class="modal__content--title">Edit your mail address</h2>
                <p class="modal__content--subtitle">メールアドレスの変更</p>
                <p class="modalClose">×</p>
                <div class="modal__content--base">
                    <p>新しいメールアドレスを入力してください</p>
                    <input type="email" id="inputForm" name="email" required>
                    <div class="modal__content--button">
                        <div class="cancelButton">キャンセル</div>
                        <button class="OK-button">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--end-- modal-2 -->
    <!--start-- modal-3 Password-->
    <form method="POST">{% csrf_token %}
        <div id="editPassword" class="modal">
            <div class="modal__content-password">
                <h2 class="modal__content--title">Password</h2>
                <p class="modalClose">×</p>
                <p class="modal__content--subtitle">パスワードの変更</p>
                <div class="modal__content--base-password">
                    <p>現在のパスワード</p>
                    <input type="password"  id="inputForm" class="" name="presentPassword" required>
                    <p>新しいパスワード</p>
                    <input type="password"  id="inputForm" class="" name="newPassword" required>
                    <p>新しいパスワードを再入力してください</p>
                    <input type="password"  id="inputForm" class="" name="confirmPassword" required>
                    <div class="modal__content--button-password">
                        <div class="cancelButton">キャンセル</div>
                        <button class="OK-button">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end--modal-3 -->
    <!--start-- modal-4 Gender -->
    <form method="POST">{% csrf_token %}
        <div id="editGender" class="modal">
            <div class="modal__content-gender">
                <h2 class="modal__content--title">Edit your gender</h2>
                <p class="modal__content--subtitle">性別の変更</p>
                <p class="modalClose">×</p>
                <div class="modal__content--base-gender">
                    <p>変更する項目を選択してください</p>
                    <div class="select-button">
                        <input type="radio" id="man" class="radio-button" name="gender" value="男性">
                        <label class="label-gender" for="man">男性</label>
                    </div>
                    <div class="select-button">
                        <input type="radio" id="female" class="radio-button" name="gender" value="女性">
                        <label class="label-gender" for="female">女性</label>
                    </div>
                    <div class="select-button">
                        <input type="radio" id="no-answer" class="radio-button" name="gender" value="">
                        <label class="label-gender" for="no-answer">回答しない</label>
                    </div>
                    <div class="modal__content--button">
                        <div class="cancelButton">キャンセル</div>
                        <button class="OK-button">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end--modal-4 -->
    <!--start-- modal-5 delete-->
    <form>
        <div id="modalDelete" class="modal">
            <div class="modal__content-delete">
                <h2 class="modal__content--title">Delete your reservetion</h2>
                <p class="modal__content--subtitle">予約の削除</p>
                <p class="modalClose" id="deleteClose">×</p>
                <div class="modal__content--base-delete">
                    <p>選択した予約リストを削除しますか？</p>
                    <div class="modal__content--button">
                        <div class="cancelButton" id="deleteCancelButton">キャンセル</div>
                        <button class="deleteCancelButton">削除する</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end--modal-5 -->
    <!-- end--モーダル -->