{% extends 'base.html' %}
    <!-- CSSファイルインポート ★CSSファイルのリンク先は実装時に要修正-->
    
{% block title %}
    <title>MyPage</title>
{% endblock %}
{% block body %}
<body>
    <!--start--背景の白ボックスとページタイトル ※共通CSS-->
    <div class="background-box">
        <div class="background-box__page-title">
            <img src="#" alt="">
            <p class="background-box__page-title--name">My Page</p>
            <p class="background-box__page-title--subname">ユーザー情報</p>
        </div>
        <div class="background-box__border"></div> <!--ページタイトル下の横線-->
    </div> 
    <!--end--背景の白ボックスとページタイトル ※共通CSS-->
    <main>
        <!--start--編集 ユーザー名-->
        <div class="edit-user-name">
            <div class="edit-user-name__user-img"></div>
            <h2>ユーザー名</h2>
            <button class="edit-button"><!--編集ボタン ※共通CSS-->
                <a href="#"></a>
            </button>
        </div>
        <!--end--編集 ユーザー名-->
        <!--start--編集 編集 mail パスワード-->
        <div class="edit-user-detail">
            <div class="inputBox"> <!-- メールアドレスフォーム -->
                <input type="email" name="" required="">
                <label>メールアドレス</label>
            </div>
            <div class="inputBox"> <!-- パスワードフォーム -->
                <input type="password" name="" required="">
                <label>パスワード</label>
            </div>
            <div class="gender">
                <div class="inputBox"> <!-- 性別フォーム -->
                    <input type="text" name="" required="">
                    <label>性別</label>
                </div>
                <button class="edit-button"><!--編集ボタン ※共通CSS-->
                    <a href="#"></a>
                </button>
            </div>
        </div>
        <!--end--編集 mail パスワード-->
        <!--start--予約状況 一覧-->
        <div class="booking-box">
            <div class="booking-box__left">
                <img src="#" alt="">
                <p>予約状況</p>
            </div>
            <div class="booking-box__right">
                <button class="edit-button"><!--編集ボタン ※共通CSS-->
                    <a href="#"></a>
                </button> 
            </div>
        </div>
        <!--end--予約状況 一覧-->
    </main>
    
    <!--start--ページ右下のTutorial アイコン ※共通CSS-->
    <div class="tutorial">
        <img src="#" alt="" class="tutorial">
        <div class="tutorial__title">
            <p class="tutorial__title--main">Tutorial</p>
            <p class="tutorial__title--sub">アプリの使い方</p>
        </div>
    </div>
    <!--end--ページ右下のTutorial アイコン ※共通CSS-->
</body>
{% endblock %}
