{% extends 'base.html' %}
<!-- CSSファイルインポート ★CSSファイルのリンク先は実装時に要修正-->
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <link rel="stylesheet" href="{% static 'css/search_result_list.css' %}">
{% endblock %}

{% block title %}
    <title>MyPage</title>
{% endblock %}

{% block body %}
<body>
    {% if request.user.is_authenticated %}
    <!--start--背景の白ボックスとページタイトル ※共通CSS-base.css -->
    <div class="background-white-box">
        <div class="page-title">
            <img src="{% static 'img/mypage/mypage-user-icon.svg' %}" alt="mypage-icon">
            <div class="page-title-box">
                <p class="page-title__page-title-box--page-name">My Page</p>
                <p class="page-title__page-title-box--page-subname">ユーザー情報</p>
            </div>
        </div> 
        <!--end--背景の白ボックスとページタイトル ※共通CSS-->
        <!--start--編集 編集 mail パスワード-->
        <div class="edit-user-detail">
            <!-- ユーザーネームフォーム -->
            <div class="edit-user-detail__icon">
                <img src="{% static 'img/mypage/user-icon.svg' %}" alt="mypage-icon">
                <p>登録情報</p>
            </div>
            <div class="edit-user-detail__border"></div>
            <form>
                <div class="inputBox">
                    <label>ユーザー名</label>
                    <input type="text" class="inputBox__textbox" name="username" required="" value="{{ user.username }}" readonly>
                    <!--編集ボタン ※共通CSS-->
                    <!-- <button class="edit-button"> -->
                    <button class="modal-toggle" type="button" data-modal="modal-1">
                        <img src="{% static 'img/myPage/mypage-edit-btn+.svg' %}"></a>
                        <img src="{% static 'img/myPage/mypage-edit-btn-hover.svg' %}" class="edit-button__hover"></a>
                </div>
                <!-- メールアドレスフォーム -->
                <div class="inputBox">
                    <label>メールアドレス</label>
                    <input type="email" class="inputBox__textbox" name="email" required="" value="{{ user.email }}" readonly>
                    <button class="modal-toggle" type="button" data-modal="modal-2"><!--編集ボタン ※共通CSS-->
                        <img src="{% static 'img/myPage/mypage-edit-btn+.svg' %}"></a>
                        <img src="{% static 'img/myPage/mypage-edit-btn-hover.svg' %}" class="edit-button__hover"></a>
                    </button>
                </div>
                <!-- パスワードフォーム -->
                <div class="inputBox">
                    <label>パスワード</label>
                    <input type="password" class="inputBox__textbox" name="password" required="" value="{{ user.password }}" readonly>
                    <button class="modal-toggle" type="button" data-modal="modal-3"><!--編集ボタン ※共通CSS-->
                        <img src="{% static 'img/myPage/mypage-edit-btn+.svg' %}"></a>
                        <img src="{% static 'img/myPage/mypage-edit-btn-hover.svg' %}" class="edit-button__hover"></a>
                    </button>
                </div>
                <!-- 性別フォーム -->
                <div class="inputBox">
                    <label>性別</label>
                    <input type="text" class="inputBox__textbox" name="gender" required="" value="{{ user.gender_type }}" readonly>
                    <button class="modal-toggle" type="button" data-modal="modal-4"><!--編集ボタン ※共通CSS-->
                        <img src="{% static 'img/myPage/mypage-edit-btn+.svg' %}"></a>
                        <img src="{% static 'img/myPage/mypage-edit-btn-hover.svg' %}" class="edit-button__hover"></a>
                    </button>
                </div>
            </form>
        </div>
        <!--end--編集 mail パスワード-->

        <!--start--予約状況 一覧-->       
        <div class="booking-box">
            <div class="booking-box__left">
                <img src="{% static 'img/mypage/reservation-icon.svg' %}" alt="reservation-icon">
                <p>予約状況</p>
            </div>
            <div class="booking-box__border"></div>
            <div class="search-mypage">
                {% for order in order_data %}
                <div class="booking-box__right">
                    <div class="search__result--box-left-up">
                        <p class="search__result--year">{{ order.order_date|date:"Y年" }}</p>
                        <p class="search__result--month-day">{{ order.order_date|date:"m月j日" }}</p>
                        <p class="search__result--time">{{order.order_time_range_type}}</p>
                    </div>

                    <div class="search__result--box-left-bottom">
                        <p id="add-class-name" class="search__result--purpose">{{ order.category }}</p>
                        <p id="add-class-name" class="search__result--gender">{{ order.hope_gender_type }}希望</p>
                    </div>
                    <div class="search__result--box-right-up">
                        <p class="search__result--user-name">{{ user.username }}さん</p>
                        <p class="search__result--user-gender">{{ user.gender_type }}</p>
                    </div>
                    <div class="search__result--box-right-bottom">
                        <p class="search__result--comment">{{ order.comment }}</p>
                    </div>
                    <!-- <p>マッチング<br>待ち</p> -->
                    <!-- <p class="comment">{{ order.comment }}</p>  95行目に移動しました -->
                    <!-- {{order.matched_user_id}} -->
                </div>
                {% empty %}     
                <p class="comment">まだ予約はありません。</p>
                {% endfor %}
            </div>
        </div>
        <!--end--予約状況 一覧-->
    </div>
    {% endif %}


<!-- srart--モーダル -->
    <!--start-- modal-1 UserName-->
    <form method="POST">{% csrf_token %}
        <div id="modal-1" class="modal">
            <div class="modal__content">
                <div class="modal__content--title">
                    <h2>User-name</h2>
                </div>
                <span class="modal-close">×</span>
                <input type="text" id="inputUsername" class="" name="username" required>
                <!-- <input type="button" class="" name="username" value="edit user name"> -->
                <button>edit user name</button>
            </div>
        </div>
    </form>
    <!--end-- modal-1 -->
    <!--start-- modal-2 Mail-Address-->
    <form method="POST">{% csrf_token %}
        <div id="modal-2" class="modal">
            <div class="modal__content">
                <div class="modal__content--title">
                    <h2>Mail-Address</h2>
                </div>
                <span class="modal-close">×</span>
                <input type="email" name="email" required>
                <!-- <input type="submit" class="" name="email" value="edit email address"> -->
                <button>edit email address</button>
            </div>
        </div>
    </form>
    <!--end-- modal-2 -->
    <!--start-- modal-3 Password-->
    <form method="POST">{% csrf_token %}
        <div id="modal-3" class="modal">
            <div class="modal__content">
                <div class="modal__content--title">
                    <h2>Password</h2>
                </div>
                <span class="modal-close">×</span>
                <input type="password" id="inputPassword" class="" name="password" required>
                <!-- <input type="submit" class="" name="password" value="edit password"> -->
                <button>edit password</button>
            </div>
        </div>
    </form>
    <!-- end--modal-3 -->
    <!--start-- modal-4 Gender -->
    <form method="POST">{% csrf_token %}
        <div id="modal-4" class="modal">
            <div class="modal__content">
                <div class="modal__content--title">
                    <h2>Gender</h2>
                </div>
                <span class="modal-close">×</span>
                <input type="text" id="inputGender" class="" name="gender" required autofocus>
                <!-- <input type="submit" class="" name="gender" value="edit gender"> -->
                <button>edit gender</button>
        </div>
    </form>
    <!-- end--modal-4 -->
    <!-- end--モーダル -->
    {% load static %}
        <script src="{% static 'js/modal.js' %}" type="text/javascript"></script>
    <!-- end--モーダル -->
</body>
{% endblock %}