{% extends 'base.html' %}
<!-- CSSファイルインポート ★CSSファイルのリンク先は実装時に要修正-->
{% block head %}
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'css/#.css' %}"> -->
{% endblock %}

{% block title %}
    <title>Matching-Room</title>
{% endblock %}

{% block body %}
<body>
    <!--start--背景の白ボックスとページタイトル ※共通CSS-->
    <div class="background-box">
        <div class="background-box__page-title">
            <img src="#" alt="">
            <p class="background-box__page-title--name">Matching Room</p>
            <p class="background-box__page-title--subname">マッチングを探す</p>
        </div>
        <div class="background-box__border"></div> <!--ページタイトル下の横線-->
    </div>
    <!--end--背景の白ボックスとページタイトル ※共通CSS-->
    <main>
        <!--start--検索条件入力・新規予約エリア-->
        <div class="search-select">
            <h2>探す条件</h2>
            <h3>目的</h3>
            <div class="search-select__radio-button-purpose">
                <input type="radio" name="purpose" value="community">コミュニティ
                <input type="radio" name="purpose" value="develop">開発目的
            </div>
            <h3>性別</h3>
            <div class="search-select__radio-button-gender">
                <input type="radio" name="gender" value="man">男性
                <input type="radio" name="gender" value="woman">女性
                <input type="radio" name="gender" value="both">どちらでもOK
            </div>
            <input type="submit" value="検索">
            <!-- 新規予約部分 -->
            <p>マッチング出来ない？新規予約をしてみよう</p>
            <button class="csearch-result__button"><a href="{% url 'create_order' %}">新規予約＞</a></button>
        </div>
        <!--end--検索条件入力・新規予約エリア-->

        <!--start--検索結果表示エリア-->       
        <div class="search-result">
        </div>
        <!--end--検索結果表示エリア-->       
    </main>
</body>
{% endblock %}
