{% extends 'base.html' %}
<!-- CSSファイルインポート ★CSSファイルのリンク先は実装時に要修正-->
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/search_matching.css' %}">
    <link rel="stylesheet" href="{% static 'css/search_result_list.css' %}">
{% endblock %}

{% block title %}
    <title>Matching-Room</title>
{% endblock %}

{% block body %}
<body>
    <!--start--背景の白ボックスとページタイトル ※共通CSS-base.css -->
    <div class="background-white-box">
        <div class="page-title">
            <img src="{% static 'img/search_matching/search-matching-icon.svg' %}" alt="マッチング部屋">
            <div class="page-title-box">
                <p class="page-title__page-title-box--page-name">Matching Room</p>
                <p class="page-title__page-title-box--page-subname">マッチングを探す</p>
            </div>
        </div>
        <!--end--背景の白ボックスとページタイトル ※共通CSS-base.css-->
        <main>
            <!--start--検索条件入力・新規予約エリア-->
            <form method="POST" class="select">{% csrf_token %}
                <h2>探す条件</h2>
                <h3>目的</h3>
                <div class="select-button">
                    <input type="radio" id="community" class="radio-button" name="purpose" value="コミュニケーション">
                    <label for="community">コミュニケーション</label>
                </div>
                <div class="select-button">
                    <input type="radio" id="develop" class="radio-button" name="purpose" value="開発">
                    <label for="develop">開発目的</label>
                </div>
                <h3>性別</h3>
                <div class="select-button">
                    <input type="radio" id="man" class="radio-button" name="gender" value="男性">
                    <label for="man">男性</label>
                </div>
                <div class="select-button">
                    <input type="radio" id="female" class="radio-button" name="gender" value="女性">
                    <label for="female">女性</label>
                </div>
                <div class="select-button">
                    <input type="radio" id="both" class="radio-button" name="gender" value="どちらでもOK">
                    <label for="both">どちらでもOK</label>
                </div>
                <!-- 青い三角 -->
                <div class="triangle"></div>
                <!-- 検索ボタン -->
                <input type="submit" class="form-button" name="" value="検索">
                <!-- 罫線 -->
                <div class="border"></div>
                <!-- 新規予約部分 -->
                <p>マッチング出来ない？<br>新規予約をしてみよう</p>
                <!-- 青い三角 -->
                <div class="triangle"></div>
                <!-- 新規予約ボタン -->
                <button class="form-button"><a href="{% url 'create_order' %}">新規予約 ></a></button>
            </form>
            <!--end--検索条件入力・新規予約エリア-->

            <!--start--検索結果表示エリア-->       
            <div class="search">
                {% if error_message %}
                <p class="mypage-error-message">{{ error_message }}</p>
                {% else %}
                {% for order in orders %}
                <div class="search__result">
                    <div class="search__result--box-left-up">
                        <p class="search__result--year">{{ order.order_date|date:"Y年" }}</p>
                        <p class="search__result--month-day">{{ order.order_date|date:"n月j日" }}</p>
                        <p class="search__result--time">{{order.order_time_range_type}}</p>
                    </div>
                    <div class="search__result--box-left-bottom">
                        {%if order.category == "コミュニケーション" %}
                        <p class="result__communication">{{ order.category }}</p>
                        {% elif order.category == "開発" %}
                        <p class="result__develop">{{ order.category }}</p>
                        {% endif %}
                        
                        {%if order.hope_gender_type == "男性" %}
                        <p class="result__man">{{ order.hope_gender_type }}希望</p>
                        {% elif order.hope_gender_type == "女性" %}
                        <p class="result__woman">{{ order.hope_gender_type }}希望</p>
                        {% elif order.hope_gender_type == "どちらでもOK" %}
                        <p class="result__both">{{ order.hope_gender_type }}</p>
                        {% endif %}
                    </div>
                    <div class="search__result--box-right-up">
                        <p class="search__result--user-name">{{ order.user_id }}<span>さん</span></p>
                        <p class="search__result--user-gender">{{ order.user_id.gender_type }}</p>
                    </div>
                    <div class="search__result--box-right-bottom">
                        <p class="search__result--comment">{{ order.comment }}</p>
                    </div>
                <!-- 参加する！ボタン -->
                    <form method="POST" class="search-result__button" action="{% url 'search_matching' %}">
                        {% csrf_token %}
                        <!-- <input type="submit" class="search-result__apply"  value="参加する！ >"> -->
                        <button class="apply-Button" name="matching_button" value="{{order.order_id}}">参加する！＞</button>
                        <input type="hidden" name="order_id" value="{{ order.order_id }}">
                    </form>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <!--end--検索結果表示エリア-->       
        </main>
    </div>
</body>



{% endblock %}