{% extends 'base.html' %}
<!-- CSSファイルインポート-->
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block title %}
    <title>Signin</title>
{% endblock %}

{% block body %}
<body>
    <div class="app-logo">PairLeary</div>
    <div class="subtitle">夢は、目標に向かって毎日歩みを進めた者だけが叶えられる</div>
    <div class="formbox">
        <h2>Sign in</h2>
        {{ error }}
        <form class="form-signin" method="POST">{% csrf_token %}
            <div class="inputBox"> <!-- ユーザー名フォーム -->
                <label for="inputusername" class="sr-only">User Name</label>
                <input type="text" id="inputusername" class="form-control" placeholder="username" name="username" required autofocus>
            </div>
            
            <!-- メールアドレスフォーム -->
            <div class="inputBox">
                <label>Mail address</label>
                <input type="email" name="email" required="">
            </div>

            <div class="inputBox"> <!-- パスワードフォーム -->
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
            </div>

            <!-- 確認パスワードフォーム -->
            <!-- <div class="inputBox">
                <label>Confirm Password</label>
                <input type="password" name="" required="">
            </div> -->
            <!-- 性別登録フォーム -->
            <!-- <div class="radio-button">
                <input type="radio" name="gender" value="man">Man
                <input type="radio" name="gender" value="woman">Woman
                <input type="radio" name="gender" value="noanswer">No Answer
            </div> -->

            <!-- サインインボタン -->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

            <!--ログインへの遷移部分-->
            <div class="change-registration">
                <p>Do not have an account?　→</p>
                <button class="change-registration__button"><a href="{% url 'login' %}">Log in</a></button>
            </div>
        </form>
    </div>
</body>
{% endblock %}