{% extends 'base.html' %}
<!-- CSSファイルインポート ★CSSファイルのリンク先は実装時に要修正-->
{% block head %}
    {% load static %}
    <!-- モーダルのCSS読み込み -->
    <link rel="stylesheet" href="{% static 'css/modal-tutorial.css' %}">
    <link rel="stylesheet" href="{% static 'css/tutorial.css' %}">
{% endblock %}

{% block title %}
    <title>Tutorial</title>
{% endblock %}
{% block body %}
<body>
    <!--start--背景の白ボックスとページタイトル ※共通CSS-base.css -->
    <div class="background-white-box">
        <div class="page-title">
            <img src="{% static 'img/tutorial/tutorial-icon.svg' %}" alt="mypage-icon">
            <div class="page-title-box">
                <p class="page-title__page-title-box--page-name">Tutorial</p>
                <p class="page-title__page-title-box--page-subname">アプリの使い方</p>
            </div>
        </div> 
        <!--end--背景の白ボックスとページタイトル ※共通CSS-->

        <div class="container">
            <div class="container_modal">
                <button class="modalOpen" data-modal="HowToUse">
                    <img src="{% static 'img/tutorial/tutorial-howtouse.jpg' %}" alt="pairlearyの使い方">
                    <h2>How to use</h2>
                    <p>ペアリーの使い方</p>
                </button>
                <img src="{% static 'img/tutorial/tutorial-modal-open-icon.svg' %}" alt="modalopenicon" class="container_modal__open-icon">
            </div>
            <div class="container_modal">
                <button class="modalOpen" data-modal="pairlearysDetail">
                    <img src="{% static 'img/tutorial/tutorial-detail.jpg' %}" alt="pairlearyの使い方" class="modalopen-icon">
                    <h2>detail</h2>
                    <p>ペアリーの説明</p>
                </button>
                <img src="{% static 'img/tutorial/tutorial-modal-open-icon.svg' %}" alt="modalopenicon" class="container_modal__open-icon">
            </div>
            <div class="container_modal">
                <button class="modalOpen" data-modal="whatIsPairleary">
                    <img src="{% static 'img/tutorial/tutorial-whatispairleary.jpg' %}" alt="pairlearyの使い方">
                    <h2>What is <span>PairLeary</span></h2>
                    <p>ペアリーの目的</p>  
                    <img src="{% static 'img/tutorial/tutorial-modal-open-icon.svg' %}" alt="modalopenicon" class="container_modal__open-icon" width="30">
                </button>
            </div>
        </div>


        <!-- srart--モーダル -->
        <!--start-- modal-1 pairlearyの使い方-->
        <div id="HowToUse" class="modal">
            <div class="modal__content">
                <h2 class="modal__content--title">How to use</h2>
                <p class="modalClose">×</p>
            </div>
            <div class="modal-container">
                <img class="img" src="#" alt="">
                <p></p>
            </div>
        </div>
        <!--end-- modal-1 -->
        <!--start-- modal-2 pairlearyの説明-->
        <div id="pairlearysDetail" class="modal">
            <div class="modal__content">
                <h2 class="modal__content--title">detail</h2>
                <p class="modalClose">×</p>
            </div>
            <div class="modal-container">
                <img class="img" src="#" alt="">
                <p></p>
            </div>
        </div>
        <!--end-- modal-2 -->
        <!--start-- modal-3 pairlearyの目的-->
        <div id="whatIsPairleary" class="modal">
            <div class="modal__content">
                <h2 class="modal__content--title">What is Pairleary</h2>
                <p class="modalClose">×</p>
            </div>
            <div class="modal-container">
                <img class="img" src="#" alt="">
                <p></p>
            </div>
        </div>
    </div>
    <!-- end--modal-3 -->
    <!-- end--モーダル -->
    {% load static %}
        <script src="{% static 'js/modal.js' %}" type="text/javascript"></script>
</body>
{% endblock %}
